{% load static %}
{% static "images" as baseurl %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E-Cart</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{%static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{%static 'lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{%static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet"> 
        <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{%static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{%static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-user"></i>
                                <h2>Welcome</h2>
                                <p>{{request.user}}</i></p>

                                <a href="logout" class="nav-item nav-link"><i class="fa fa-sign-out"></i>LogOut</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="{%url 'homescreen' %}" class="navbar-brand">E<span>-</span>Cart</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        {% if usertype == "user" %}
                        <a href="{%url 'homescreen' %}" class="nav-item nav-link active">Home</a>
                        <a href="{%url 'homescreen' %}" class="nav-item nav-link">Products</a>
                        <a href="{% url 'myprofile' %}" class="nav-item nav-link">My Profile</a>
                        <a href="{% url 'cartview' %}" class="nav-item nav-link">Cart</a>
                        <div class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">MyOrders</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'customer_ordered_list' %}" class="dropdown-item">OredredList</a>
                                <a href="{%url 'trackorder' %}" class="dropdown-item">Track Order</a>
                            </div>
                        </div>
                        <a href="{% url 'contacts' %}" class="nav-item nav-link">Contact</a>
                        {% endif%}
                        {% if usertype == "admin" %}
                        <a href="{%url 'dashboard'%}" class="nav-item nav-link active">Dashboard</a>
                        <a href="{% url 'cartview' %}" class="nav-item nav-link">Cart</a>
                        <a href="{%url 'product'%}" class="nav-item nav-link">Manage Products</a>
                        <a href="{% url 'customer' %}" class="nav-item nav-link">Manage Customer</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Orders</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'orders' %}" class="dropdown-item">Oredred List</a>
                                <a href="{% url 'alldelivery' %}" class="dropdown-item">Deliverd Orders</a>
                                <a href="{%url 'trackorder' %}" class="dropdown-item">Track Order</a>
                            </div>
                        </div>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
    {% block content %}
        
        <!-- Hero Start -->
        <div class="hero">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-text">
                            <h1>Shop with E-Cart</h1>
                            <p>
                                All You need find in E-Cart
                            </p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <!-- <p>Learn About Us</p> -->
                            <h2>Welcome to E-Cart</h2>
                        </div>
                        <div class="about-text">
                            <p>
                               Shop Unlimited
                            </p>
                            <!-- <a class="btn" href="">Learn More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
         <!-- Discount Start -->
         <div class="discount wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <p>Awesome Discount</p>
                    <h2>Get <span>30%</span> On Selected Items</h2>
                </div>
                <div class="container discount-text">
                    <p>
                     
                    </p>
                    <a class="btn">Shop Now</a>
                </div>
            </div>
        </div>
        <!-- Discount End -->


        <!-- Service Start -->
       
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>What we Have</p>
                    <h2></h2>
                </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="products-display">

                            {% for item in items%}
                            
                                <div class="product">
                                    <form action="{%url 'addtocart' %}" method="POST">
                                    {% csrf_token %}
                                    <img src="{{item.img.url}}" alt="">
                                    <p>{{item.product_brand}}</p>
                                    <P class="product-discription">{{item.product_dis}},{{item.product_catogary}}</P>
                                    <h4><b>₹ {{item.product_price}}</b></h4>
                                    <form action="{%url 'addtocart'%}" method="post">
                                    <p class="cart-button"><button type ="submit" name='submit' value='{{item.product_id}}' style="background-color: none; border: none; width: 100px"><a>Add To Cart</a></button></p>
                                    </form>
                                <form action="{%url 'viewitem' %}" method="post">
                                    {% csrf_token %}
                                <p class="cart-button"><button type ="submit" name='pr_id' value='{{item.product_id}}' style="background-color: none; border: none; width: 100px"><a>View</a></button></p>
                                </form>
                            </div>
                                
                            {% endfor %}
                        </div>
                    </div>
                
          
                            
    {% endblock %}  
    
    <!-- end service -->

       <!-- Footer Start -->
       <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <a href="{%url 'homescreen' %}" class="footer-logo">E<span>-</span>Cart</a>
                    <h3>Kochi, Kerala, India</h3>
                    <div class="footer-menu">
                        <p>+91 9141109785</p>
                        <p>gopinath.pramod@gmail.com</p>
                    </div>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">E-Cart</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Contacts</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{%static 'lib/easing/easing.min.js' %}"></script>
        <script src="{%static 'lib/wow/wow.min.js' %}"></script>
        <script src="{%static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{%static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{%static 'lib/lightbox/js/lightbox.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{%static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{%static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{%static 'js/main.js' %}"></script>
    </body>
</html>
