{% extends 'index.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/styles_3.css' %}">
<div class="prodectview"><br><br><br><br>
    <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
        <p>Track Oredr</p>
        <h2></h2>
    </div>

    <table align="center" style="margin-bottom: 5%;">
        <tr>
            <td>Product name</td>
            <td>Brand</td>
            <td>Discription</td>
            <td>Price</td>
            <td>Orderd Date</td>
            <td>Status</td>
            <td>Action Date</td>
            <td>Order Cancellation</td>
        
        </tr>
    
    {% for item in order_item %}
    <tr>
        <td>{{item.product_name}}</td>
        <td>{{item.product_brand}}</td>
        <td>{{item.product_dis}}</td>
        <td>{{item.product_price}}</td>
        <td>{{item.ordred_date}}</td>
        <td>{{item.delivery_ststus}}</td>
        <td>{{item.dispached_date}}</td>
    </tr>
    {% endfor %}
    </table>
</div>

  
{% endblock %}